<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NstatUsage" value="false"/>
    <add key="S3StorageUsage" value="false"/>
    <add key="InitialPageUrl" value="http://i.imgur.com/ktbD0IA.gif"/>
    <add key="ServerHost" value="http://localhost/"/>
    <add key="FiddlerProxyOn" value="true" />
    <add key="UseNgrok" value="true" />
    
    <!-- Start Browerstack Configuration-->
    <add key="browserstack.user" value="unknown"/>
    <add key="browserstack.key" value="unknown"/>
    <add key="LocalOrRemoteOrBrowserStack" value="Local"/>
    <add key="browserStack.project" value="ThisProject"/>
    <add key="browserStack.build" value="1234567"/>
    <add key="browserStack.name" value="Testing UX"/>
    <!-- End Browerstack Configuration-->

    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
